/* carte.css */
/* Auteur: Arsène Caron */

/* Styles généraux pour la page de la carte de visite */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.carte {
    background-color: white;
    padding: 40px;
    margin: 50px auto;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
}

h2 {
    color: #7f8c8d;
    font-size: 18px;
}

p {
    color: #7f8c8d;
    font-size: 14px;
    margin: 20px 0;
}

.socials a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #2980b9;
}

.socials a:hover {
    color: #3498db;
}

/* Bouton de retour */
.retour {
    text-align: center;
    margin-top: 20px;
}

.btn-retour {
    text-decoration: none;
    color: white;
    background-color: #2980b9;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-retour:hover {
    background-color: #3498db;
}
