/* f.css */
/* Auteur: Arsène Caron */

/* Styles généraux pour la page du formulaire */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3498db;
}

/* Bouton de retour */
.retour {
    text-align: center;
    margin-top: 20px;
}

.btn-retour {
    text-decoration: none;
    color: white;
    background-color: #2980b9;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-retour:hover {
    background-color: #3498db;
}
